<div class="card mb-4 wow fadeIn">
    <div class="card-header">Editorial Articles</div>
    <!--Card content-->
    <div class="card-body">
        <div class="card blue-gradient mb-4 wow fadeIn">
          <!-- Content -->
          <div class="card-body text-white text-center">
            <h4 class="mb-4">
              <strong>Get an E-commerce responsive Website with us at an Affordable Price</strong>
            </h4>
             <p>
                <strong>Best of web design created with Python - Django infrastructure</strong>
            </p>
            <a target="_blank" href="{#}" class="btn btn-outline-white btn-md">More
              <i class="fas fa-graduation-cap ml-2"></i>
            </a>
          </div>
        </div>

        <div class="card blue-gradient mb-4 wow fadeIn">
          <!-- Content -->
          <div class="card-body text-white text-center">
            <h4 class="mb-4">
              <strong>Total Digital Marchandize via all social media platforms at the Right Price</strong>                            </h4>
            <p>
              <strong>we expertize at reaching the right targeted individuals</strong>
            </p>
            <a target="_blank" href="{#}" class="btn btn-outline-white btn-md">More
              <i class="fas fa-graduation-cap ml-2"></i>
            </a>
          </div>
        </div>
    </div>
</div>